.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.footer-bottom {
    background-color: #212732;
}

.footer-bottom p{
    color: white
}

a{
    text-decoration: none;
}